{% extends "base.html" %}
{% load static %}

{% block body %}
{% load crispy_forms_tags %}




<div class="container ">
  <div class="row ">
    <div class="col-md-6 offset-md-3 bg-light shadow">
        <br>
      <h3>Duyuru Guncelle</h3>
      <hr>
       <form action="" method = "POST" enctype="multipart/form-data">
         {% csrf_token %}
         {{ form.media }}
         {{form | crispy}}
         <button type="submit"class ="btn btn-success">Guncelle</button>
         
       </form>

      </div>
    </div>
    </div>


{% endblock body %}