{% extends "base.html" %}
{% load static %}

{% block body %}

{% load crispy_forms_tags %}


<div class="container-fluid shadow"style="display: grid;

grid-template-rows: auto 1fr auto;
">
  

  <div class="row">

    
  
      {% if lesson not in lesson_join %}
      <div class= "alert alert-success text-center">Merhababar {{user.first_name}} {{user.last_name}} Derse Kayitli Degilsiniz.....</div>
    
      <div class="col-4">
     
  
        {% else %}<!--User authenticated == student is add lesson-->
    

           
      <div class="col-3 " style="margin-right:30px;min-width :300px;max-width: 300px;">

        <h6>Aktif Ogreciler</h6>
        
          <span class="badge rounded-pill bg-success onlineusers"></span>
          <div class="spinner-grow spinner-grow-sm text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
           <!-- ONLINE STUDENTS -->
        
           <div class="overflow-auto " style="min-width :300px;max-width: 300px; max-height: 250px;">
       
        <ol class="list-group list-group-numbered "  style=" font-size: 12px; width: 11rem;">

         
          <li class="list-group-item d-flex justify-content-between
            align-items-start list-group-item-warning ">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Cras justo odio
            </div>
            <span class="badge bg-primary rounded-pill"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between
            align-items-start list-group-item-success ">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Cras justo odio
            </div>
            <span class="badge bg-primary rounded-pill"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between
            align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheadinddg</div>
              Cras justo odio
            </div>
            <span class="badge bg-primary rounded-pill"></span>
          </li>
        </ol>
      </div>
     
      <!-- MESSAGES -->
      <div class="container" style="padding-left: 0px;min-width :300px;max-width: 300px;">
      <div class="overflow-auto" style="min-width :300px;max-width: 300px; max-height: 250px;">
        <ul id="chat-items" class="list-group list-group-flush " style=" width: 18rem;">
          {% for message in message_text %}
          <li class="list-group-item list-group-item-warning "style="max-width:300px;">
            <b  style=" font-size: 12px;">{{message.user}} </b> 
            <small style=" font-size: 11px;">{{message.date}}</small> 
          <br>  
          <div style=" font-size: 14px;  ">
             {{message.text}}
          </div>
         
          </li>
  
          {% endfor %}
          
        </ul>
        
      </div>
     

       
      <form id = 'messageForm' action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="hidden" id = 'myUsername' value='{{ user.username }}' />
     
        <div class="row " style='min-width:325px;'>
            <div class="col-10 "style="padding-right: calc(var(--bs-gutter-x) * .0);">
             
                {{message_form.text}}

                {% comment %} {{message_form | crispy}} {% endcomment %}
                
              </div>
              <div class="col-2 px-0">
                <button type="submit" class = "btn btn-primary " ><i class="fa fa-send"></i></button>
  
              </div>
                
            </div>
        
   
      </form>
 <br>
  
  {% endif %}<!--User authenticated == student is add lesson-->
</div>
</div><!--COL-->

  <!--Content BODY-->
    <div class="col">
      <div class="p-5 mb-4  rounded-3 alert alert-success">
        <div class="container-fluid py-5">
          <h3 class="fs-5">{{lesson.name}}</h3>
          <span><small>{{lesson.teacher}}</small></span>
          <p class="col-md-8 fs-7">{{lesson.description}}</p>
          {% if lesson not in lesson_join %}
          <form  action="{% url 'lesson_add' %}" method ="POST">
            {% csrf_token %}
            <input type="hidden" name ="user_id" value="{{user.id}}">
            <input type="hidden" name ="lesson_id" value="{{lesson.id}}">		
            <input type="submit" value ="Derse Kayit Ol"class="btn btn-outline-success">
            
          </form>
          {% endif %}
          
        </div>
      </div>
    </div>
  
    
    <!--User authenticated == student is add lesson-->
    {% if lesson not in lesson_join %}
    

  
    {% else %}<!--User authenticated == student is add lesson-->
    <div class="col-3" style="margin-left:30px;">
      {% if attendances %}
      <ul class="list-group" style="min-width :200px;max-width: 300px; max-height: 250px;">
   
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
        data-bs-target="#qrCodeModal">
        <i class="fa fa-qrcode fa-4x"></i>
      </button>
    
        {% if request.user  == lesson.teacher %}
        
        {% if request.user.is_staff %}
      


      
          
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#removeModal">
            Yoklama Sonlandir.
          </button>
     
     
        
        
{% endif %}
{% endif %}
        {% for attendance in attendances %}
        <li class="list-group-item" style=" font-size: 12px;">
          Baslangic : {{attendance.date}}
        </li>
        <li class="list-group-item" style=" font-size: 12px;">
          Kapanis : {{attendance.date2}}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      {% if request.user == lesson.teacher  %}
      
      {% if request.user.is_staff %}
      <button type="button" class="btn btn-warning" data-bs-toggle="modal"
        data-bs-target="#exampleModal" style="min-width :200px;max-width: 300px; max-height: 250px;">
        Yoklama Aktif Et
      </button>
      {% endif %}
      {% endif %}

      {% endif %}




      <br>
      <h6>Tum Ogrenciler</h6>
      <div class="overflow-auto " style="min-width :200px;max-width: 300px; max-height: 250px;">

      <ol class="list-group list-group-numbered">
        {% if lesson.students.all %}
        {% for student in lesson.students.all %}

        <li class="list-group-item d-flex justify-content-between
          align-items-start" style=" font-size: 12px;">
          <div class="ms-2 me-auto " style=" font-size: 12px;">

            <div class="fw-bold" >{{student.username}}</div>
            {{student.last_name}}
          </div>

          <span class="badge bg-primary rounded-pill"></span>
        </li>

        {% endfor %}
        {% else %}
        <li class="list-group-item d-flex justify-content-between
          align-items-start">
          <div class="ms-2 me-auto">


            Her hangi bir kayit yok
          </div>

        </li>



        {% endif %}


      </ol>
    </div>
    </div><!--col-->
    {% endif %} <!--User authenticated == student is add lesson-->

<!-- Button trigger modal -->

<!-- QR Modal ################################ -->
<div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Qr Code {{attendance_remove_avaliable_last.lesson}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="btn btn-warning">Yoklamaya katilmak icin okutunuz ve kimliginizi dogrulayiniz.</div>
        
        <br>

    
        <img src="{{attendance_remove_avaliable_last.qr_code.url}}" alt=""> 
      </div>
      <div class="modal-footer">
    
      
      </div>
    </div>
  </div>
</div>

<!-- QR Modal ################################ -->
    




    <!--Attendance add Modal #################################################-->
    <div class="modal fade"id="exampleModal" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Yoklama Olustur</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
              <!--DATE PICKER-->
              {% csrf_token %}
              <div class="row">
                <div class="col-md-1 offset-md-2">
                  <div class="input-group date" id="datetimepicker1"
                    data-target-input="nearest">
                    <div class="input-group-append"
                      data-target="#datetimepicker1"
                      data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      {{attendance_form | crispy}}
                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Kapat</button>
              <button type="submit" class="btn btn-success">Olustur</button>
            </div>
          </form>
</div>
          <script>
      $(function () {
        $("#datetimepicker1").datetimepicker({
          format: 'DD/MM/YYYY HH:mm',
        });
      });
    </script>
        </div>
      </div>
      <!--Attendance add Modal #################################################-->

      <!--Attendance Remove Modal #################################################-->
      <div class="modal fade"id="removeModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Yoklamayi Sonlandir</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
          <a class = "btn btn-danger" href="{% url 'attendance_remove'  attendance_id=attendance_remove_avaliable_last.id  %}">Kapat</a>
          </div>
          </div>
        </div>
        <!--Attendance Remove Modal #################################################-->




      </div><!--Row-->



<script>

</script>

<!--WEBSOCKETS JAVASCRIPT ################################################################-->
<!--Websocket websocket/reconnecting-->
<script src="{% static 'websocket/reconnecting-websocket.js' %}"></script>
<script>
//websocket scripts

  console.log(window.location)
  //lesson.html adresindeyken location bilgilerini aliyoruz
  var loc = window.location
  
  //jQuery MessageForm
  var formData =  $("#messageForm")
  var msgInput = $("#id_text")
  var chatHolder=$("#chat-items")
  var user = $("#myUsername").val()
  var onlinecount = document.getElementsByClassName('onlineusers')[0];
  //websocket start 
  var wsStart = 'ws://'
  if(loc.protocol == 'https:' ){
    //Proje yayindayken security oldugundan websocket protokolumuz wss olmali
    wsStart = 'wss://'
  }
  var endpoint = wsStart + loc.host + loc.pathname
  
  var socket = new ReconnectingWebSocket(endpoint);

  socket.onmessage = function(e){
    console.log("message-lesson.html",e);
    var chatDataMsg = JSON.parse(e.data);
    
      if(chatDataMsg.command == "msg"){
      chatHolder.append(
      "<li class='list-group-item list-group-item-success ' style='max-width:500px;'>"+
      "<b  style='font-size: 12px;'>"+
      chatDataMsg.username+
      "</b>  <br>"+
      "<div style=' font-size: 14px;'>"+
      chatDataMsg.message+
      "</div>"+
      "</li>");
      }
      if(chatDataMsg.command == "onlineusers"){
        onlinecount.innerHTML = chatDataMsg.count  + ' People'
      
        console.log(chatDataMsg.count)
      }
  }
  // Listen for messages
  socket.addEventListener('message', function (event) {
  console.log('Message from server ', event.data);
  });
  formData.submit(function(event){
    event.preventDefault()
    var msgText = msgInput.val()
    //chatHolder.append("<li>"+msgText+ " username: " +user+"</li>")
    var finalData = {
      'message':msgText,
      'command':'msg'
    }
    socket.send(JSON.stringify(finalData))
    //msgInput.val('')
    formData[0].reset()
  })

  socket.onopen= function(e){
    console.log("open-   lesson.html",e);
    connect = {
      "command":"connected"
    }
    socket.send(JSON.stringify(connect))
  }
  socket.onerror= function(e){
    console.log("error-lesson.html",e);
  }
  socket.onclose= function(e){
    console.log("close-lesson.html",e);
  }
{% comment %} 
  function onlineUser(user){
    var userData = {
      'user':user
    }
    socket.send(JSON.stringify(userData))
  } {% endcomment %}

</script> 


 {% endblock body %}

