{% extends "base.html" %}
{% load static %}

{% block body %}




    {% if lessons %}

    <div class="container">
      <div class="row">
        {% if request.user.is_authenticated  %}
      
        {% if request.user.is_staff %}
  <a href="{% url 'lesson_create' %}" class="btn btn-warning">Ders Oluştur</a><hr>

  {% endif %}
  {% endif %}
        <div class="row align-items-start">
          {% for lesson  in lessons %}
          <div class="col ">
            
          <div  class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="{{lesson.image.url}}" alt="Card image cap">
            <div  class="card-body ">

              <h5 class="card-title">{{lesson.name}} </h5>
              <span><small>{{lesson.teacher}}</small></span>
              <p class="card-text">{{ lesson.description | truncatechars:25}}</p>
             
             {% if   user.is_authenticated  %}

             {% if lesson in lesson_join %}
             <a href="{% url 'lesson_detail' lesson.id %}" class="btn btn-outline-primary">Ders Icerigi</a>
             
             {% else %}
   
   
             <form action="{% url 'lesson_add' %}" method ="POST">
              {% csrf_token %}
              <input type="hidden" name ="user_id" value="{{user.id}}">
              <input type="hidden" name ="lesson_id" value="{{lesson.id}}">		
              <input type="submit" value ="Derse Kayit Ol"class="btn btn-outline-success">
            </form>

             
             
             {% endif %}
             {% endif %}
            </div>
          </div>
        </div>
          {% endfor %}
          
       </div>

      </div>
    </div>



    {% else %}
    <h1>Herhangi kayitli bir ders bulunmuyor</h1>
    {% endif %}
 

{% endblock body %}