{% extends "base.html" %}


{% block body %}

{% load crispy_forms_tags %}


<div class="container shadow">
  

  <div class="row">

    <div class="col">
    <H3 >Yoklama Detayı</H1>

    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Ders</th>
            <th scope="col">Öğretmen</th>
            <th scope="col">Olusturulma Tarihi</th>
            <th scope="col">Katılan Öğrenciler</th>
            <th scope="col">Tüm Öğrenciler</th>

            <th scope="col">Aktiflik</th>
          </tr>
        </thead>
        <tbody>
    
           
          <tr>
              
            <th scope="row"> {{attendance.id}}</th>
            <td>{{attendance.lesson}}</td>
            <td>{{attendance.lesson.teacher}}</td>
            <td>{{attendance.date_now}}</td>
            <td>{{attendance.user_joined.count}}</td>
            <td>{{attendance.lesson.students.count}}</td>
            {% if attendance.avaliable %}
            <td><div class="spinner-grow spinner-grow-sm text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div></td>
            {% else %}
            <td>
            <span class="badge bg-danger rounded-pill">Kapandi</span>
            </td>
            {% endif %}
         
                
          </tr>
       
    
        
        </tbody>
      </table>
    </div><!--col-->
</div><!--Row-->

  
    <div class="row">

        <div class="col-4">

            <h5>Tüm Öğrenciler</h5>
            <div class="overflow-auto p-3 mb-3 mb-md-0 me-md-3 bg-light" style="max-width: 500px; max-height: 400px;">
      
            <ol class="list-group list-group-numbered">
              {% if attendance.lesson.students.all %}
              {% for student in attendance.lesson.students.all %}
      
              <li class="list-group-item d-flex justify-content-between
                align-items-start">
                <div class="ms-2 me-auto">
      
                  <div class="fw-bold">{{student.username}}</div>
                  {{student.first_name}} {{student.last_name}}
                </div>
                {% if student in attendance.user_joined.all %}
                <span class="badge bg-success rounded-pill">katildi</span>
                {% else %}
                <span class="badge bg-danger rounded-pill">katilmadi</span>
                {% endif %}
                
              </li>
      
              {% endfor %}
              {% else %}
              <li class="list-group-item d-flex justify-content-between
                align-items-start">
                <div class="ms-2 me-auto">
      
      
                  Her hangi bir öğrenci derse kayıt olmamış..
                </div>
      
              </li>
              {% endif %}
      
      
            </ol>
        </div><!--overflow-->
    </div><!--col-->
  

        <div class="col-4">

            <h5>Yoklamaya Katılan Öğrenciler</h5>
            <div class="overflow-auto p-3 mb-3 mb-md-0 me-md-3 bg-light" style="max-width: 500px; max-height: 400px;">
      
            <ol class="list-group list-group-numbered">
              {% if attendance.user_joined %}
              {% for student in attendance.user_joined.all %}
      
              <li class="list-group-item d-flex justify-content-between
                align-items-start">
                <div class="ms-2 me-auto">
      
                  <div class="fw-bold">{{student.username}}</div>
                  {{student.first_name}} {{student.last_name}}
                </div>
      
                <span class="badge bg-success rounded-pill">katildi</span>
              </li>
      
              {% endfor %}
              {% else %}
              <li class="list-group-item d-flex justify-content-between
                align-items-start">
                <div class="ms-2 me-auto">
      
      
                  Her hangi bir kayit yok
                </div>
      
              </li>
      
      
      
              {% endif %}
      
      
            </ol>
        </div><!--overflow-->
    </div><!--col-->
</div><!--row-->
  




  </div><!--container-->
    



{% endblock body %}

