{% extends "base.html" %}
{% load static %}

{% block body %}
{% load crispy_forms_tags %}




<div class="container ">
  <div class="row ">
    <div class="col-md-6 offset-md-3 bg-light shadow">
      <h3>Etkinlik Olustur</h3>
      <hr>

      {% if request.user.is_authenticated  %}
      
      {% if request.user.is_staff %}
      
       <form action="" method = "POST" enctype="multipart/form-data">
         {% csrf_token %}
         {{ event_form.media }}
         {{event_form | crispy}}
         <button type="submit"class ="btn btn-success">Olustur</button>
         
       </form>
       {% else %}
       <p>Bu yetkiye sadece ogretmenler sahiptir..</p>
       {% endif %}

       {% else %}
     
       <p>Bu alana erismek icin giris yapmaniz gerekli..</p>
       {% endif %}
      </div>
    </div>
    </div>


{% endblock body %}